<div class="navBar">
  <p class="title">Schiavi Del Padel</p>
</div>

<div class="header">
  <button class="changeDateLeft" (click)="previousDay()">&lt;</button>
  <span class="currentDate">{{currentDate | date:'EEEE d MMMM':'':'it-IT' | uppercase}}</span>
  <button class="changeDateRight" (click)="nextDay()">></button>
</div>

<div class="container" *ngFor="let slot of slots">
  <div class="hours">
    {{slot.dateTime | date:'HH:mm'}}
  </div>
  <button (dblclick)="reserveSlot(slot.dateTime)" class="slot" [ngClass]="{'reservedSlot' : slot.userName}">
    {{slot.userName  | uppercase}}
  </button>
</div>